<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.earlybird.dao.CnAdminRoleMapper">
	<resultMap id="BaseResultMap" type="com.earlybird.entity.CnAdminRole">
		<id column="Id" property="id" jdbcType="INTEGER" />
		<result column="admin_id" property="adminId" jdbcType="VARCHAR" />
		<result column="role_id" property="roleId" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		Id, admin_id, role_id
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from cn_admin_role
		where Id = #{id,jdbcType=INTEGER}
	</select>


	<resultMap id="AdminRoleResultMap" type="com.earlybird.entity.CnAdminRoleDetail">
		<id column="adminRoleId" property="adminRoleId" jdbcType="INTEGER" />
		<result column="admin_id" property="adminId" jdbcType="VARCHAR" />
		<result column="role_id" property="roleId" jdbcType="VARCHAR" />

		<result column="user_name" jdbcType="VARCHAR" property="userName" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="email" jdbcType="VARCHAR" property="email" />
		<result column="mobile" jdbcType="VARCHAR" property="mobile" />
		<result column="sex" jdbcType="TINYINT" property="sex" />
		<result column="imagin" jdbcType="VARCHAR" property="imagin" />
		<result column="birth" jdbcType="TIMESTAMP" property="birth" />
		<result column="identity_id" jdbcType="VARCHAR" property="identityId" />
		<result column="full_name" jdbcType="VARCHAR" property="fullName" />
		<result column="status" jdbcType="VARCHAR" property="status" />
		<result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
		<result column="login_ip" jdbcType="VARCHAR" property="loginIp" />
		<result column="login_flag" jdbcType="VARCHAR" property="loginFlag" />
		<result column="create_by" jdbcType="VARCHAR" property="createBy" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="update_by" jdbcType="VARCHAR" property="updateBy" />
		<result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
		<result column="remarks" jdbcType="VARCHAR" property="remarks" />
		<result column="admin_del_flag" jdbcType="CHAR" property="adminDelFlag" />

		<result column="office_id" jdbcType="VARCHAR" property="officeId" />
		<result column="role_name" jdbcType="VARCHAR" property="name" />
		<result column="enname" jdbcType="VARCHAR" property="enname" />
		<result column="role_type" jdbcType="VARCHAR" property="roleType" />
		<result column="data_scope" jdbcType="CHAR" property="dataScope" />
	</resultMap>
	<sql id="Admin_Role_Column_List">
		cn_admin_role.adminRoleId, admin_id, role_id,cn_admin.user_name, cn_admin.name,
		cn_admin.password, cn_admin.email,
		cn_admin.mobile, cn_admin.sex, cn_admin.imagin, cn_admin.birth, cn_admin.identity_id,
		cn_admin.full_name,
		cn_admin.status, cn_admin.last_login_time, cn_admin.login_ip, cn_admin.login_flag,
		cn_admin.create_by, cn_admin.create_date,
		cn_admin.update_by, cn_admin.update_date, cn_admin.remarks, cn_admin.del_flag AS
		admin_del_flag,
		cn_role.office_id,cn_role.name As role_name, cn_role.enname,cn_role.role_type, cn_role.data_scope
	</sql>
	<select id="selectAdminRoleByUserName" resultMap="AdminRoleResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Admin_Role_Column_List" />
		from cn_admin_role INNER JOIN cn_admin ON
		cn_admin_role.admin_id=cn_admin.id
		INNER JOIN cn_role ON cn_admin_role.role_id=cn_role.id
		where cn_admin.user_name = #{0} LIMIT 1
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from cn_admin_role
		where Id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.earlybird.entity.CnAdminRole">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into cn_admin_role (admin_id, role_id)
		values (#{adminId,jdbcType=VARCHAR}, #{roleId,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.earlybird.entity.CnAdminRole">
		<selectKey resultType="java.lang.Integer" keyProperty="id"
			order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into cn_admin_role
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="adminId != null">
				admin_id,
			</if>
			<if test="roleId != null">
				role_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="adminId != null">
				#{adminId,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				#{roleId,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.earlybird.entity.CnAdminRole">
		update cn_admin_role
		<set>
			<if test="adminId != null">
				admin_id = #{adminId,jdbcType=VARCHAR},
			</if>
			<if test="roleId != null">
				role_id = #{roleId,jdbcType=VARCHAR},
			</if>
		</set>
		where Id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.earlybird.entity.CnAdminRole">
		update cn_admin_role
		set admin_id = #{adminId,jdbcType=VARCHAR},
		role_id = #{roleId,jdbcType=VARCHAR}
		where Id = #{id,jdbcType=INTEGER}
	</update>
</mapper>